@import '../../styles/_config.scss';

.section-title {
  padding-bottom: 50px;
  }

.section-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

.section-text {
  padding: 5px;
}

img {
  width: 90%;
  padding: 5px;
}
    
 .section-grid-one {
   background-color: $secondaryColor;
   color: $primaryColor;
  
 } 

 .section-grid-two {
    background-color: $primaryColor;
    color: $secondaryColor;
  
 }