@import '../../styles/_config.scss';

.section-title {
  padding: 25px 0;
  }

.section-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

.section-text {
  padding: 0 25px 5px 25px;
}

img {
  width: 90%;
  padding: 5px;
}
    
 .section-grid-one {
   background-color: $secondaryColor;
   color: $primaryColor;
   padding: 1rem 0;
   height: 100vh;
 } 

 .section-grid-two {
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 1rem 0;
    height: 100vh; 
 }